<%-include('./partials/head.ejs')%>

    <body>
        <%-include('./partials/nav.ejs') %>

            <div class="about-content">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse nemo minima blanditiis neque est fugit
                    et
                    voluptatibus recusandae facere! Repudiandae adipisci, possimus minus provident quibusdam libero
                    autem
                    mollitia quam deserunt!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur doloremque odio numquam cum tenetur
                    nemo dolores. Quos quibusdam ut saepe.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quo incidunt id numquam harum. Nulla,
                    dolorum? Hic iste maiores adipisci.</p>
            </div>
        
        <%-include('./partials/footer.ejs') %> 
    </body>

    </html>