<%-include('./partials/head.ejs')%>

    <body>
        <%-include('./partials/nav.ejs') %>

            <div class="about-content">
                <h2>About Doeun Kongden</h2>
                <p>Hello There, My name is : Doeun Kongden</p>
                    <br>
                <p>I am a student at Royal University of Phnom Penh. Majoring in computer science. I am in my second year now</p>
                <br>
                <p>I am also a student at Tux Global Institude which is a japan funded institude that sepcialize in training young indivual on there Technology skill</p>
                <br>
                <p>I study App/Web development at TUX Global Institude(TGI)</p>
                <br>
                <p>I specialize in Web Application Developement mostly focus on Front-End part of the Site</p>
                <br>
                <p>My tech Stack include : React js ,Vue js and node js(for backend language) these framework are light and powerfull for building web application</p>
                <br>
                <p style="color: blue;">Project I am currently helping with are : </p>
                <ul style="margin-top: 10px; padding-top: 5px;">
                    <li>Professional Cambodia</li>
                    <li>E-commerce Websiter</li>
                    <li>Tesla landing page clone</li>
                    <li>Blog website(which is this one)</li>
                </ul>
                <br>
                <p>And many more project check me out on : <a href="https://github.com/DoeunKongden?tab=repositories">Git Hub Repository</a></p>
            </div>
        
        <%-include('./partials/footer.ejs') %> 
    </body>

    </html>